In [1]:
import sys
!{sys.executable} -m pip install awswrangler --index-url https://private.artifactory.foc.zone/api/pypi/rdf-pypi-virtual/simple --extra-index-url https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/simple

Looking in indexes: https://private.artifactory.foc.zone/api/pypi/rdf-pypi-virtual/simple, https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/simple
Collecting awswrangler
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/54/ec/3ea5f63f2811f74c40a22d8991218c4110c461afb61370b054e597fe55c8/awswrangler-2.16.1-py3-none-any.whl (248 kB)
Collecting backoff<3.0.0,>=1.11.1
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/3b/59/fbcbf9bdce46bc7a3ce6af140dadff9f9c8bd1a641e49ee0f1bfd21f830b/backoff-2.1.2-py3-none-any.whl (14 kB)
Collecting gremlinpython<4.0.0,>=3.5.2
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/a2/b8/f202fe67a0f5a538a1d8a3cd5e7dc5f8aa8def03b44032fe1beabc45dc37/gremlinpython-3.6.0-py2.py3-none-any.whl (72 kB)
Collecting pyarrow<7.1.0,>=2.0.0
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/f6/17/5f50b5a47fe9988afcbc9cc63692ab7e34b3ddf8d608296212506c9d6f14/pyarrow-7.0.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (26.7 MB)
Collecting pandas<2.0.0,>=1.2.0
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/3e/0c/23764c4635dcb0a784a787498d56847b90ebf974e65f4ab4053a5d97b1a5/pandas-1.3.5-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.3 MB)
Requirement already satisfied: openpyxl<3.1.0,>=3.0.0 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (3.0.3)
Collecting jsonpath-ng<2.0.0,>=1.5.3
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/4c/b7/3627068d9aa6b2d49af117eb3897770a5dbc6bb3f4c09ed56a9eb749438e/jsonpath_ng-1.5.3-py3-none-any.whl (29 kB)
Collecting redshift-connector<2.1.0,>=2.0.889
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/a1/5c/dccf7c8c5c0035fdafc1b01d3bf8277720a9abf72780b1cd5ec5fbc2bac1/redshift_connector-2.0.908-py3-none-any.whl (112 kB)
Requirement already satisfied: numpy<2.0.0,>=1.21.0 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (1.21.6)
Collecting pymysql<2.0.0,>=1.0.0
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/4f/52/a115fe175028b058df353c5a3d5290b71514a83f67078a6482cff24d6137/PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Collecting opensearch-py<2.0.0,>=1.0.0
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/74/fd/59f57eaa83cf765a504d9cebdb99d1c9057c1987dc69fc5be61b6b756fa7/opensearch_py-1.1.0-py2.py3-none-any.whl (207 kB)
Collecting pg8000<2.0.0,>=1.20.0
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/23/6c/f2e8a438691d9ff1a2a22d453edbefcf2e9c230682c6c4e4969f750d0468/pg8000-1.29.1-py3-none-any.whl (34 kB)
Collecting requests-aws4auth<2.0.0,>=1.1.1
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/6a/e7/631559b2f2b8e07729e70eb265166eebe28739d97d42d422a501ae54a2ca/requests_aws4auth-1.1.2-py2.py3-none-any.whl (24 kB)
Requirement already satisfied: botocore<2.0.0,>=1.23.17 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (1.27.12)
Requirement already satisfied: boto3<2.0.0,>=1.20.17 in /opt/conda/lib/python3.7/site-packages (from awswrangler) (1.24.12)
Collecting progressbar2<5.0.0,>=4.0.0
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/e8/e7/a823e2c141d50930814af22fb3350b696b190318c7722055971be8519467/progressbar2-4.0.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/conda/lib/python3.7/site-packages (from boto3<2.0.0,>=1.20.17->awswrangler) (0.6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.7/site-packages (from boto3<2.0.0,>=1.20.17->awswrangler) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /opt/conda/lib/python3.7/site-packages (from botocore<2.0.0,>=1.23.17->awswrangler) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /opt/conda/lib/python3.7/site-packages (from botocore<2.0.0,>=1.23.17->awswrangler) (1.26.9)
Collecting aenum<4.0.0,>=1.4.5
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/38/bd/2c911f3ff06b34e90639058e84a5b198447e24b9ff386984da365bea6964/aenum-3.1.11-py3-none-any.whl (131 kB)
Collecting isodate<1.0.0,>=0.6.0
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/b6/85/7882d311924cbcfc70b1890780763e36ff0b140c7e51c110fc59a532f087/isodate-0.6.1-py2.py3-none-any.whl (41 kB)
Requirement already satisfied: nest-asyncio in /opt/conda/lib/python3.7/site-packages (from gremlinpython<4.0.0,>=3.5.2->awswrangler) (1.5.5)
Requirement already satisfied: aiohttp<=3.8.1,>=3.8.0 in /opt/conda/lib/python3.7/site-packages (from gremlinpython<4.0.0,>=3.5.2->awswrangler) (3.8.1)
Requirement already satisfied: ply in /opt/conda/lib/python3.7/site-packages (from jsonpath-ng<2.0.0,>=1.5.3->awswrangler) (3.11)
Requirement already satisfied: decorator in /opt/conda/lib/python3.7/site-packages (from jsonpath-ng<2.0.0,>=1.5.3->awswrangler) (4.4.1)
Requirement already satisfied: six in /opt/conda/lib/python3.7/site-packages (from jsonpath-ng<2.0.0,>=1.5.3->awswrangler) (1.14.0)
Requirement already satisfied: et-xmlfile in /opt/conda/lib/python3.7/site-packages (from openpyxl<3.1.0,>=3.0.0->awswrangler) (1.0.1)
Requirement already satisfied: jdcal in /opt/conda/lib/python3.7/site-packages (from openpyxl<3.1.0,>=3.0.0->awswrangler) (1.4.1)
Requirement already satisfied: certifi in /opt/conda/lib/python3.7/site-packages (from opensearch-py<2.0.0,>=1.0.0->awswrangler) (2022.6.15)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas<2.0.0,>=1.2.0->awswrangler) (2019.3)
Requirement already satisfied: importlib-metadata>=1.0 in /opt/conda/lib/python3.7/site-packages (from pg8000<2.0.0,>=1.20.0->awswrangler) (1.5.0)
Collecting scramp>=1.4.1
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/27/31/80bfb02ba2daa9a0ca66f82650c411f1a2b21ce85164408f57e99aab4e4e/scramp-1.4.1-py3-none-any.whl (8.5 kB)
Collecting python-utils>=3.0.0
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/47/ea/07bd92aa551bcb8a994d59b9daaff39085ed268464dd9e2e041a6927e41f/python_utils-3.3.3-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.7.0 in /opt/conda/lib/python3.7/site-packages (from redshift-connector<2.1.0,>=2.0.889->awswrangler) (4.8.2)
Requirement already satisfied: requests<2.28.1,>=2.23.0 in /opt/conda/lib/python3.7/site-packages (from redshift-connector<2.1.0,>=2.0.889->awswrangler) (2.28.0)
Requirement already satisfied: lxml>=4.6.5 in /opt/conda/lib/python3.7/site-packages (from redshift-connector<2.1.0,>=2.0.889->awswrangler) (4.9.0)
Collecting pytz>=2017.3
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/60/2e/dec1cc18c51b8df33c7c4d0a321b084cf38e1733b98f9d15018880fb4970/pytz-2022.1-py2.py3-none-any.whl (503 kB)
Requirement already satisfied: packaging in /opt/conda/lib/python3.7/site-packages (from redshift-connector<2.1.0,>=2.0.889->awswrangler) (20.1)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/conda/lib/python3.7/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (6.0.2)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/conda/lib/python3.7/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (1.3.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (2.0.4)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/conda/lib/python3.7/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (1.2.0)
Requirement already satisfied: typing-extensions>=3.7.4 in /opt/conda/lib/python3.7/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (4.2.0)
Requirement already satisfied: asynctest==0.13.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (0.13.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /opt/conda/lib/python3.7/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (1.7.2)
Requirement already satisfied: attrs>=17.3.0 in /opt/conda/lib/python3.7/site-packages (from aiohttp<=3.8.1,>=3.8.0->gremlinpython<4.0.0,>=3.5.2->awswrangler) (20.3.0)
Requirement already satisfied: soupsieve>=1.2 in /opt/conda/lib/python3.7/site-packages (from beautifulsoup4<5.0.0,>=4.7.0->redshift-connector<2.1.0,>=2.0.889->awswrangler) (1.9.5)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata>=1.0->pg8000<2.0.0,>=1.20.0->awswrangler) (2.2.0)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests<2.28.1,>=2.23.0->redshift-connector<2.1.0,>=2.0.889->awswrangler) (2.8)
Collecting asn1crypto>=1.4.0
  Using cached https://private.artifactory.foc.zone/artifactory/api/pypi/pypi-remote/packages/packages/c9/7f/09065fd9e27da0eda08b4d6897f1c13535066174cc023af248fc2a8d5e5a/asn1crypto-1.5.1-py2.py3-none-any.whl (105 kB)
Requirement already satisfied: pyparsing>=2.0.2 in /opt/conda/lib/python3.7/site-packages (from packaging->redshift-connector<2.1.0,>=2.0.889->awswrangler) (2.4.6)
Installing collected packages: pytz, asn1crypto, aenum, scramp, python-utils, pymysql, pyarrow, opensearch-py, jsonpath-ng, isodate, backoff, requests-aws4auth, progressbar2, pg8000, pandas, gremlinpython, redshift-connector, awswrangler
  Attempting uninstall: pytz
    Found existing installation: pytz 2019.3
    Uninstalling pytz-2019.3:
      Successfully uninstalled pytz-2019.3
  Attempting uninstall: asn1crypto
    Found existing installation: asn1crypto 1.3.0
    Uninstalling asn1crypto-1.3.0:
      Successfully uninstalled asn1crypto-1.3.0
  Attempting uninstall: pyarrow
    Found existing installation: pyarrow 8.0.0
    Uninstalling pyarrow-8.0.0:
      Successfully uninstalled pyarrow-8.0.0
  Attempting uninstall: pandas
    Found existing installation: pandas 1.0.1
    Uninstalling pandas-1.0.1:
      Successfully uninstalled pandas-1.0.1
Successfully installed aenum-3.1.11 asn1crypto-1.5.1 awswrangler-2.16.1 backoff-2.1.2 gremlinpython-3.6.0 isodate-0.6.1 jsonpath-ng-1.5.3 opensearch-py-1.1.0 pandas-1.3.5 pg8000-1.29.1 progressbar2-4.0.0 pyarrow-7.0.0 pymysql-1.0.2 python-utils-3.3.3 pytz-2022.1 redshift-connector-2.0.908 requests-aws4auth-1.1.2 scramp-1.4.1
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import awswrangler as wr
import pandas as pd

# Some checks

In [3]:
sql_before = '''
SELECT DISTINCT 
       adp.mcvisid_visitorid,
       adp.post_tnt
FROM rktdp_adobe_omniture_raw_processed_access.adobe_dq_prcd_data AS adp
WHERE adp.post_tnt LIKE '%562585%' AND datekey<'2022-06-21' '''
df_before = wr.athena.read_sql_query(sql=sql_before, database="ktdp_model_outputs_raw_access", ctas_approach=False, 
                               workgroup='rcd-datascientist')

In [4]:
df_before.mcvisid_visitorid.nunique()

0

In [5]:
sql_after = '''
SELECT DISTINCT 
       adp.mcvisid_visitorid,
       adp.post_tnt
FROM rktdp_adobe_omniture_raw_processed_access.adobe_dq_prcd_data AS adp
WHERE adp.post_tnt LIKE '%562585%' AND datekey>='2022-06-21' '''
df_after = wr.athena.read_sql_query(sql=sql_after, database="ktdp_model_outputs_raw_access", ctas_approach=False, 
                                    workgroup='rcd-datascientist')

In [6]:
df_after.mcvisid_visitorid.nunique()

12394

In [7]:
sql_control = '''
SELECT DISTINCT 
       mcvisid_visitorid,
       post_tnt,
       datekey,
       hour
FROM rktdp_adobe_omniture_raw_processed_access.adobe_dq_prcd_data
WHERE (post_tnt='562585:0:0' OR post_tnt LIKE '%--562585:0:0%' OR post_tnt LIKE '562585:0:0%') AND datekey>='2022-06-21' '''
df_control = wr.athena.read_sql_query(sql=sql_control, database="ktdp_model_outputs_raw_access", ctas_approach=False, 
                                      workgroup='rcd-datascientist')

In [8]:
df_control.mcvisid_visitorid.nunique()

6382

In [9]:
sql_test = '''
SELECT DISTINCT 
       adp.mcvisid_visitorid,
       adp.post_tnt,
       adp.datekey,
       adp.hour
FROM rktdp_adobe_omniture_raw_processed_access.adobe_dq_prcd_data AS adp
WHERE (post_tnt='562585:1:0' OR post_tnt LIKE '%--562585:1:0%' OR post_tnt LIKE '562585:1:0%') AND datekey>='2022-06-21' '''
df_test = wr.athena.read_sql_query(sql=sql_test, database="ktdp_model_outputs_raw_access", ctas_approach=False, 
                                  workgroup='rcd-datascientist')

In [10]:
df_test.head()

,mcvisid_visitorid,post_tnt,datekey,hour
0,81528838810448043783116974624610335233,562585:1:0--**--562432:1:0--**--560145:0:0--**...,2022-06-26,4
1,82668918350976323174607153608867312638,562585:1:0--**--562432:0:0,2022-06-28,21
2,54439236892634191521763521880140678573,562585:1:0--**--562432:1:0,2022-06-28,22
3,04320741464401047131733508659505845333,562585:1:0,2022-06-30,19
4,35747565093530691483937630203632047020,562585:1:0,2022-07-05,20

In [11]:
df_test.mcvisid_visitorid.nunique()

6012

In [12]:
5295+4998

10293

# Checking events data

In [13]:
sql_event = '''
SELECT * 
FROM rktdp_adobe_omniture_raw_processed_access.adobe_websessionpostevent
WHERE mcvisid_visitorid = '49799992538523264713463772097096218572'
AND datekey >= '2022-07-01' AND eventid='247'
'''
df_event = wr.athena.read_sql_query(sql=sql_event, database="ktdp_model_outputs_raw_access", ctas_approach=False, 
                                    workgroup='rcd-datascientist')

In [14]:
df_event

Empty DataFrame
Columns: [uniquevisitkey, calcualted_visitorid, mcvisid_visitorid, date_time, post_event_list, eventid, event_lookup, hash_value, datekey, hour]
Index: []

# Comparing event data

In [15]:
sql = '''
WITH all AS
(
    SELECT DISTINCT 
           adp.mcvisid_visitorid,
           adp.datekey,
           CASE
               WHEN post_tnt LIKE '%562585:0:0%' THEN '562585:0:0'
               WHEN post_tnt LIKE '%562585:1:0%' THEN '562585:1:0'
           END AS experiment_group
    FROM rktdp_adobe_omniture_raw_processed_access.adobe_dq_prcd_data AS adp
    WHERE adp.post_tnt LIKE '%562585%' AND adp.datekey>='2022-06-21' AND adp.datekey<='2022-07-12'
),

first AS
(
    SELECT mcvisid_visitorid, 
           experiment_group,
           MIN(datekey) AS datekey
    FROM all
    GROUP BY mcvisid_visitorid, experiment_group
),

event AS
(
    SELECT first.mcvisid_visitorid,
           first.experiment_group,
           first.datekey,
           ev.datekey AS ev_datekey
    FROM first
    LEFT JOIN rktdp_adobe_omniture_raw_processed_access.adobe_websessionpostevent AS ev
    ON first.mcvisid_visitorid = ev.mcvisid_visitorid
    AND ev.datekey>='2022-06-21' AND ev.datekey<='2022-07-12' AND ev.eventid = '228'
)

SELECT *
FROM event
'''
df = wr.athena.read_sql_query(sql=sql, database="rktdp_adobe_omniture_raw_processed_access", ctas_approach=False, 
                              workgroup='rcd-datascientist')

In [16]:
df.mcvisid_visitorid.nunique()

10470

In [17]:
df[['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:0:0    5393
562585:1:0    5077
Name: experiment_group, dtype: Int64

In [18]:
df[~df.ev_datekey.isna()].experiment_group.value_counts()

562585:1:0    60
562585:0:0    11
Name: experiment_group, dtype: Int64

In [19]:
df[~df.ev_datekey.isna()][['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:1:0    26
562585:0:0     4
Name: experiment_group, dtype: Int64

In [20]:
sql = '''
WITH all AS
(
    SELECT DISTINCT 
           adp.mcvisid_visitorid,
           adp.datekey,
           CASE
               WHEN post_tnt LIKE '%562585:0:0%' THEN '562585:0:0'
               WHEN post_tnt LIKE '%562585:1:0%' THEN '562585:1:0'
           END AS experiment_group
    FROM rktdp_adobe_omniture_raw_processed_access.adobe_dq_prcd_data AS adp
    WHERE adp.post_tnt LIKE '%562585%' AND adp.datekey>='2022-06-21' AND adp.datekey<='2022-07-12'
),

first AS
(
    SELECT mcvisid_visitorid, 
           experiment_group,
           MIN(datekey) AS datekey
    FROM all
    GROUP BY mcvisid_visitorid, experiment_group
),

event AS
(
    SELECT first.mcvisid_visitorid,
           first.experiment_group,
           first.datekey,
           ev.datekey AS ev_datekey,
           ev.post_event_list
    FROM first
    LEFT JOIN rktdp_adobe_omniture_raw_processed_access.adobe_dq_prcd_data AS ev
    ON first.mcvisid_visitorid = ev.mcvisid_visitorid
    AND ev.datekey>='2022-06-21' AND ev.datekey<='2022-07-12' AND (ev.post_event_list LIKE '%,228,%' OR ev.post_event_list LIKE '228,%'
    OR ev.post_event_list LIKE '%,228' OR ev.post_event_list LIKE '228')
)

SELECT *
FROM event
'''
df = wr.athena.read_sql_query(sql=sql, database="rktdp_adobe_omniture_raw_processed_access", ctas_approach=False, 
                              workgroup='rcd-datascientist')

In [21]:
df[['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:0:0    5393
562585:1:0    5077
Name: experiment_group, dtype: Int64

In [22]:
df[~df.ev_datekey.isna()][['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:1:0    26
562585:0:0     4
Name: experiment_group, dtype: Int64

# Functions

In [23]:
def df_sql_event_table(eventid):
    sql = f'''
    WITH all AS
    (
        SELECT DISTINCT 
               adp.mcvisid_visitorid,
               adp.datekey,
               CASE
                   WHEN post_tnt LIKE '%562585:0:0%' THEN '562585:0:0'
                   WHEN post_tnt LIKE '%562585:1:0%' THEN '562585:1:0'
               END AS experiment_group
        FROM rktdp_adobe_omniture_raw_processed_access.adobe_dq_prcd_data AS adp
        WHERE adp.post_tnt LIKE '%562585%' AND adp.datekey>='2022-06-21' AND adp.datekey<='2022-07-12'
    ),

    first AS
    (
        SELECT mcvisid_visitorid, 
               experiment_group,
               MIN(datekey) AS datekey
        FROM all
        GROUP BY mcvisid_visitorid, experiment_group
    ),

    event AS
    (
        SELECT first.mcvisid_visitorid,
               first.experiment_group,
               first.datekey,
               ev.datekey AS ev_datekey
        FROM first
        LEFT JOIN rktdp_adobe_omniture_raw_processed_access.adobe_websessionpostevent AS ev
        ON first.mcvisid_visitorid = ev.mcvisid_visitorid
        AND ev.datekey>='2022-06-21' AND ev.datekey<='2022-07-12' AND ev.eventid = '{eventid}'
    )

    SELECT *
    FROM event
    '''
    return sql

In [24]:
def df_sql_event_list(eventid):
    sql = f'''
    WITH all AS
    (
        SELECT DISTINCT 
               adp.mcvisid_visitorid,
               adp.datekey,
               CASE
                   WHEN post_tnt LIKE '%562585:0:0%' THEN '562585:0:0'
                   WHEN post_tnt LIKE '%562585:1:0%' THEN '562585:1:0'
               END AS experiment_group
        FROM rktdp_adobe_omniture_raw_processed_access.adobe_dq_prcd_data AS adp
        WHERE adp.post_tnt LIKE '%562585%' AND adp.datekey>='2022-06-21' AND adp.datekey<='2022-07-12'
    ),

    first AS
    (
        SELECT mcvisid_visitorid, 
               experiment_group,
               MIN(datekey) AS datekey
        FROM all
        GROUP BY mcvisid_visitorid, experiment_group
    ),

    event AS
    (
        SELECT first.mcvisid_visitorid,
               first.experiment_group,
               first.datekey,
               ev.datekey AS ev_datekey,
               ev.post_event_list
        FROM first
        LEFT JOIN rktdp_adobe_omniture_raw_processed_access.adobe_dq_prcd_data AS ev
        ON first.mcvisid_visitorid = ev.mcvisid_visitorid
        AND ev.datekey>='2022-06-21' AND ev.datekey<='2022-07-12' AND (ev.post_event_list LIKE '%,{eventid},%' 
        OR ev.post_event_list LIKE '{eventid},%'
        OR ev.post_event_list LIKE '%,{eventid}' OR ev.post_event_list LIKE '{eventid}')
    )

    SELECT *
    FROM event
    '''
    return sql

# Events

In [25]:
HARD_ONLINE_CREDIT_PULL = 228
LEAD_FORM_SUBMISSION = 206
APPLICATION_START = 250

# Hard online credit pull

## EVent table approach

In [26]:
df = wr.athena.read_sql_query(sql=df_sql_event_table(HARD_ONLINE_CREDIT_PULL), 
                              database="rktdp_adobe_omniture_raw_processed_access", ctas_approach=False, 
                              workgroup='rcd-datascientist')

In [27]:
# Total test population
df[['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:0:0    5393
562585:1:0    5077
Name: experiment_group, dtype: Int64

In [28]:
# duplicate credit pulls
df[~df.ev_datekey.isna()].experiment_group.value_counts()

562585:1:0    60
562585:0:0    11
Name: experiment_group, dtype: Int64

In [29]:
# Deduped pulls
df[~df.ev_datekey.isna()][['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:1:0    26
562585:0:0     4
Name: experiment_group, dtype: Int64

## Event list approach

In [30]:
df = wr.athena.read_sql_query(sql=df_sql_event_list(HARD_ONLINE_CREDIT_PULL), 
                              database="rktdp_adobe_omniture_raw_processed_access", ctas_approach=False, 
                              workgroup='rcd-datascientist')

In [31]:
# Total test population
df[['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:0:0    5393
562585:1:0    5077
Name: experiment_group, dtype: Int64

In [32]:
# duplicate credit pulls
df[~df.ev_datekey.isna()].experiment_group.value_counts()

562585:1:0    96
562585:0:0    11
Name: experiment_group, dtype: Int64

In [33]:
# Deduped pulls
df[~df.ev_datekey.isna()][['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:1:0    26
562585:0:0     4
Name: experiment_group, dtype: Int64

# Lead Form Submission

## Event table approach

In [34]:
df = wr.athena.read_sql_query(sql=df_sql_event_table(LEAD_FORM_SUBMISSION), 
                              database="rktdp_adobe_omniture_raw_processed_access", ctas_approach=False, 
                              workgroup='rcd-datascientist')

In [35]:
# Total test population
df[['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:0:0    5393
562585:1:0    5077
Name: experiment_group, dtype: Int64

In [36]:
# duplicate leads
df[~df.ev_datekey.isna()].experiment_group.value_counts()

562585:0:0    3291
562585:1:0     216
Name: experiment_group, dtype: Int64

In [37]:
# Deduped leads
df[~df.ev_datekey.isna()][['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:0:0    3041
562585:1:0     192
Name: experiment_group, dtype: Int64

## Event list approach

In [38]:
df = wr.athena.read_sql_query(sql=df_sql_event_list(LEAD_FORM_SUBMISSION), 
                              database="rktdp_adobe_omniture_raw_processed_access", ctas_approach=False, 
                              workgroup='rcd-datascientist')

In [39]:
# Total test population
df[['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:0:0    5393
562585:1:0    5077
Name: experiment_group, dtype: Int64

In [40]:
# duplicate leads
df[~df.ev_datekey.isna()].experiment_group.value_counts()

562585:0:0    3291
562585:1:0     216
Name: experiment_group, dtype: Int64

In [41]:
# Deduped leads
df[~df.ev_datekey.isna()][['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:0:0    3041
562585:1:0     192
Name: experiment_group, dtype: Int64

# Application Start

## Event table approach

In [42]:
df = wr.athena.read_sql_query(sql=df_sql_event_table(APPLICATION_START), 
                              database="rktdp_adobe_omniture_raw_processed_access", ctas_approach=False, 
                              workgroup='rcd-datascientist')

In [43]:
# Total test population
df[['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:0:0    5393
562585:1:0    5077
Name: experiment_group, dtype: Int64

In [44]:
# duplicate application
df[~df.ev_datekey.isna()].experiment_group.value_counts()

562585:1:0    1818
562585:0:0      92
Name: experiment_group, dtype: Int64

In [45]:
# Deduped application
df[~df.ev_datekey.isna()][['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:1:0    1713
562585:0:0      84
Name: experiment_group, dtype: Int64

# Event list approach

In [46]:
df = wr.athena.read_sql_query(sql=df_sql_event_list(APPLICATION_START), 
                              database="rktdp_adobe_omniture_raw_processed_access", ctas_approach=False, 
                              workgroup='rcd-datascientist')

In [47]:
# Total test population
df[['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:0:0    5393
562585:1:0    5077
Name: experiment_group, dtype: Int64

In [48]:
# duplicate application
df[~df.ev_datekey.isna()].experiment_group.value_counts()

562585:1:0    1818
562585:0:0      92
Name: experiment_group, dtype: Int64

In [49]:
# Deduped application
df[~df.ev_datekey.isna()][['mcvisid_visitorid', 'experiment_group']].drop_duplicates().experiment_group.value_counts()

562585:1:0    1713
562585:0:0      84
Name: experiment_group, dtype: Int64